@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";


/*Still working with this*/
html, body {

  overflow-x: hidden;
  max-width: 100%;
  margin: 0px;
  padding: 0px;

}

.nav {

  width: 100%;
  text-align: right;
  height: 115px;
  line-height: 115px;
  background: white;
  border-bottom: 1px solid #333333;


}

.menu {

  margin: 0px 0px 0px 0px;

}

.menu a {

  clear: right;
  text-decoration: none;
  color: black;
  margin: 0px;
  line-height: 115px;
  padding: 28px;
  text-transform: uppercase;
  transition: .2s ease;

}

.menu a:hover, a:active {

  text-decoration: underline;

}

label {

  margin: 0px 40px 0px 0px;
  font-size: 26px;
  line-height: 115px;
  display: none;
  width: 26px;
  float: right;
  color: #000000;

}

#toggle {

  display: none;
}


@media only screen and (max-width: 825px) {
  label {

    display: block;
    cursor: pointer;

  }

  label:hover, label:active {
    background: none;

  }

  .menu {

    text-align: center;
    width: 100%;
    display: none;
    border-bottom: 1px solid white;

  }


  .menu a {

    display: block;
    border-top: 1px solid white;
    background-color: #6bdff0;
    margin: 0px;
    padding: 0px;

  }

  #toggle:checked + .menu {
    display: block;
  }


}


.joinButton {

  border: 1px solid #6bdff0;
  padding: 5px;
  background-color: #6bdff0;
  font-size: 16px;
  font-family: inherit;
  float: right;
  margin-left: 30px;
  box-shadow: 4px 6px 8px #888888;
  margin-right: 2%;
  width: 110px;


}


.joinButton:hover {
  opacity: 0.8;

}

.topnav {

  background-color: white;
  margin-top: 20px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  height: 105px;
  padding: 0px;

}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;

}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav .fas {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: #6bdff0;
  text-decoration: underline;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 825px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {

    display: none;

  }

  .topnav a.icon {
    float: left;
    display: block;
    color: #FF8300;
    margin-top: 35px;

  }
}

@media screen and (max-width: 825px) {
  .topnav.responsive {position: relative; display: block;}

  .topnav.responsive a.icon {
    display: none;
  }

  .topnav.responsive .fas {
    float: left;
    display: block;
    color: #FF8300;
    margin-right: 0px;
    margin-left: 0px;

  }

  .joinButton {

    margin-left: 0px;

  }

  .topnav.responsive a {

    float: none;
    display: block;
    text-align: left;
    margin-left:32px;
  }

  .topnav.responsive a.bubbles {

    margin-top: 115px;

  }

  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.myButton {

  border: none;
  float: left;
  margin-bottom: 0px;
  margin-left:20px;
  margin-top:5px;
  background-color: white;
  width: 100px;
  height: 100px;


}


.myButton:hover {

  opacity: 0.6;



}

.tooltip {
  float: left;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  height: 30px;
  background-color: #6bdff0;
  color: black;
  text-align: center;
  padding: 4px 4px;
  box-shadow: 4px 6px 8px #888888;

  opacity: 0.8;

  /* Position the tooltip */
  /*  position: absolute;*/

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
