
<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>About</li>
        <li>Login</li>
        <li>Register</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Products</h1>
      <ul>
        <li>Washer Survey</li>
        <li>User Survey</li>

      </ul>
    </div>
    <div class="col">
      <h1>Account</h1>
      <ul>
        <li>View Profile</li>

      </ul>
    </div>
    <div class="col social">
      <h1>Join Our Community</h1>
      <ul>
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
        <li><a href="#" class="fa fa-instagram"></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

