
body {

  margin: 0px;
  padding: 0px;
  max-width: 100%;

}



.FooterHeader {

  color: black;
  font-size: 30px;
  font-weight: 900;
  margin: 10px;



}

.facebook {

  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;

}

.twitter {

  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;

}

.instagram {

  width: 60px;
  height: 60px;
  margin: 10px;

}

.facebook:hover {

  opacity: 0.8;

}

.twitter:hover {

  opacity: 0.7;

}

.instagram:hover {

  opacity: 0.7;

}



/* STYLES SPECIFIC TO FOOTER  */
.footer {


  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../../assets/images/footer.jpg');
  height: 350px;

}

.FooterLogo {

  width: 150px;
  height: 150px;
  margin: 50px 15px 0 0;
  float: right;

}
