
<html>
<header>
  <div>
    <a routerLink="/"><img src="assets/images/SudsLogo.png" alt="Clean Laundry" class="myButton"></a>
    <div class="topnav" id="myTopnav">
      <a routerLink="/user" class="joinButton" style="color: #3b3b3b; text-decoration: none;margin-top: 33px"> Join Suds</a>
      <a routerLink="/login" class="bubbles">Login</a>
      <a routerLink="/aboutus" class="bubbles">About Us</a>
      <a routerLink="/washer" style="color:#6bdff0;">Become A Washer</a>
    </div>

  </div>



  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

</header>


</html>


