
<html>

<body id="container" (window:resize)="onResize($event)">

<div class="nav">
  <div class="tooltip">
    <a routerLink="/"><img src="assets/images/SudsLogo.png" alt="Clean Laundry" class="myButton"></a>
    <span class="tooltiptext">Home Page</span>
  </div>
  <label for="toggle">&#9776;</label>
  <input type="checkbox" id="toggle" (change)="heightUpdate($event)"/>
  <div class="menu">
    <a routerLink="/order">Place An Order</a>
    <a *ngIf="!user" routerLink="/washerinfo">Want to become a washer?</a>
    <a *ngIf="!user" routerLink="/login">Login</a>
    <a *ngIf="!user" routerLink="/emaillog">Join Suds</a>
    <a *ngIf="user" (click)="logout()">Logout</a>
    <a *ngIf="user" routerLink="/profile">Profile</a>

  </div>

</div>


</body>

</html>
