@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
body {
  margin:0;
  font-family:inherit;



}

html { height: 100% }


.joinButton {

  border: 1px solid #6bdff0;
  padding: 10px;
  background-color: #6bdff0;
  font-size: 16px;
  font-family: inherit;
  float: right;
  margin-left: 30px;
  box-shadow: 4px 6px 8px #888888;
  margin-right: 2%;
  margin-top: 30px;
  width: 110px


}

.joinButton:hover {
  opacity: 0.8;

}

.topnav {

  background-color: white;
  margin-top: 20px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  height: 100px;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  margin-top: 40px;
  margin-left: 30px;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;

}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav .fas {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: #6bdff0;
  text-decoration: underline;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 825px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {

  }

  .topnav .fas {



  }

  .topnav a.icon {
    float: left;
    display: block;
    color: #FF8300;
    margin-top: 35px;

  }
}

@media screen and (max-width: 825px) {
  .topnav.responsive {position: relative;}

  .topnav.responsive a.icon {
    display: none;
  }

  .topnav.responsive .fas {
    float: left;
    display: block;
    color: #FF8300;
    margin-right: 0px;
    margin-left: 0px;

  }



  .joinButton {

    margin-left: 0px;

  }

  .topnav.responsive a {

    float: none;
    display: block;
    text-align: left;
    margin-left:32px;
  }

  .topnav.responsive a.bubbles {

    margin-top: 115px;

  }

  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.myButton {

  border: none;
  float: left;
  font-family:inherit;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 40px;
  margin-bottom: 0px;
  margin-left:25px;
  margin-top:25px;
  color: #6bdff0;
  background-color: white;
  text-shadow: 2px 2px gray;

}


.myButton:hover {

  opacity: 0.6;



}
