  <div class="row">
    <div class="column">
      <h2 style="font-size: 40px; margin: 0px; padding-top: 10px; text-align: center; color: #6bdff0;">Join Suds</h2>
      <p style="font-size: 20px;  text-align: center; color: white;">Join our wait list and receive updates about Suds!</p>


      <div class="Names">

        <div class="firstName">
          <label for="fname"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" name="fName" required>
        </div>

        <div class="lastName">
          <label for="lname"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" name="lName" required>
        </div>



        <div class="email">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
        </div>

        <div class="password">
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </div>


        <div class="zipCode">

          <label for="zipCode"><b>Zip Code</b></label>
          <input type="Ziptext" placeholder="#####" name="zipCode" required>

        </div>

        <div class="Age">
          <label for="Age"><b>Age</b></label>
          <input type="Agetext" placeholder="Age" name="Age" required>
        </div>

      </div>


      <hr>

  <div class="optionalQuestion">
      <div class="gender">
        <label id="gender"><b>Gender</b></label>
        <br>
        <input class="radioInput" type="radio" name="gender" value="male"> Male
        <br>
        <input class="radioInput" type="radio" name="gender" value="female"> Female
        <br>
        <input  class="radioInput" type="radio" name="gender" value="other"> Other
        <br>
      </div>

      <div class="employment">
        <label id="employment"><b>Employment Status</b></label>
        <br>
        <select>
          <option name="employment" value="full">Full</option>
          <option name="employment" value="part">Part</option>
          <option name="employment" value="student">Student</option>
          <option name="employment" value="none">None</option>
        </select>
      </div>


        <div class="question1">
          <label id="question1"><b>Where do you currently do laundry?</b></label>
          <br>
          <select>
            <option name="question1" value="home">Home</option>
            <option name="question1" value="apartment">Apartment</option>
            <option name="question1" value="service">Laundry Service</option>
            <option name="question1" value="laundromat">Laundromat</option>
          </select>
        </div>

        <div class="question2">
          <label id="question2"><b>How often do you do laundry?</b></label>
          <br>
          <select>
            <option name="question2" value="1perweek">less than 1 load a week</option>
            <option name="question2" value="12perweek">1-2 loads a week</option>
            <option name="question2" value="34perweek">3-4 loads a week</option>
            <option name="question2" value="5perweek">5+ loads a week</option>
          </select>
        </div>

        <div class="question3">
          <label id="question3"><b>What would you use this service for?</b></label>
          <br>
          <select>
            <option name="question3" value="basics">Basics (i.e. t-shirts, jeans, socks)</option>
            <option name="question3" value="delicates">Delicates (i.e. undergarments, work tops, nicer slacks, dresses)</option>
            <option name="question3" value="handwash">Hand-Wash necessary items</option>
            <option name="question3" value="towelsbedding">Towels and bedding</option>
            <option name="question3" value="chuckitall">Chuck it all in!</option>
          </select>
        </div>



  </div>


      <div class="NewsLetterAndTerms">
      <div>
        <label id="newsletter">Subscribe to our news letter?</label>
        <input type="checkbox" name="newsletter" checked>
      </div>


      <p style="color: white">
        By creating an account you agree to our <a href="#"
                                                   style="color: dodgerblue">Terms & Privacy</a>.
      </p>

      </div>

      <div class="clearfix">
        <button type="submit" class="signupbtn" value="register">Sign
          Up</button>
      </div>
    </div>
  </div>


