  <div class="row">
    <div class="column" style="padding-top: 30px">
      <h2 style="font-size: 40px">Want to become a washer?</h2>
      <p>Please fill in this form to apply and join our wait list!</p>
    </div>
    <div class="column">
      <img alt="Suds Logo" src="assets/images/sudslogostraight.png" width="260"
           height="210">
    </div>
  </div>

  <hr>

  <div class="container">

    <div style="float: left; padding-right: 20px">
      <label id="firstname"><b>First Name</b></label> <input
      id="user_first_name" name="fName" size="30" type="text" placeholder="Enter First Name"
      required />
    </div>

    <div style="float: left; padding-right: 20px">
      <label id="lastname"><b>Last Name</b></label> <input id="user_last_name"
                                                            name="lName" size="30" type="text" placeholder="Enter Last Name" required />
    </div>

    <div>

      <label id="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label id="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pass" required>

      <label id="age"><b>Age</b></label>
      <input type="text" placeholder="Enter Age" name="age" required>

      <label id="zipcode"><b>Zip Code</b></label>
      <input type="text" placeholder="#####" name="zipcode">

      <div>
        <label id="gender"><b>Gender</b></label>
        <br>
        <input type="radio" name="gender" value="male"> Male
        <br>
        <input type="radio" name="gender" value="female"> Female
        <br>
        <input type="radio" name="gender" value="other"> Other
        <br>
      </div>

      <div>
        <label id="employment"><b>Employment Status</b></label>
        <br>
        <select>
          <option name="employment" value="full">Full</option>
          <option name="employment" value="part">Part</option>
          <option name="employment" value="student">Student</option>
          <option name="employment" value="none">None</option>
        </select>
      </div>

      <div>
        <label id="income"><b>Income</b></label>
        <br>
        <select>
          <option name="income" value="range1">$25,000 or less</option>
          <option name="income" value="range2">$25,000 - $50,000</option>
          <option name="income" value="range3">$50,000 - $100,000</option>
          <option name="income" value="range4">$100,000 plus</option>
        </select>
      </div>


    </div>

    <div>
      <div>
        <label id="question1"><b>Where do you currently do laundry?</b></label>
        <br>
        <select>
          <option name="question1" value="home">Home</option>
          <option name="question1" value="apartment">Apartment</option>
          <option name="question1" value="service">Laundry Service</option>
          <option name="question1" value="laundromat">Laundromat</option>
        </select>
      </div>

      <div>
        <label id="question2"><b>How often do you do laundry?</b></label>
        <br>
        <select>
          <option name="question2" value="1perweek">less than 1 load a week</option>
          <option name="question2" value="12perweek">1-2 loads a week</option>
          <option name="question2" value="34perweek">3-4 loads a week</option>
          <option name="question2" value="5perweek">5+ loads a week</option>
        </select>
      </div>

      <div>
        <label id="question3"><b>What would you use this service for?</b></label>
        <br>
        <select>
          <option name="question3" value="basics">Basics (i.e. t-shirts, jeans, socks)</option>
          <option name="question3" value="delicates">Delicates (i.e. undergarments, work tops, nicer slacks, dresses)</option>
          <option name="question3" value="handwash">Hand-Wash necessary items</option>
          <option name="question3" value="towelsbedding">Towels and bedding</option>
          <option name="question3" value="chuckitall">Chuck it all in!</option>
        </select>
      </div>
    </div>

    <div>
      <label id="newsletter">Subscribe to our news letter?</label>
      <input type="checkbox" name="newsletter" checked>
    </div>


    <p>
      By creating an account you agree to our <a href="#"
                                                 style="color: dodgerblue">Terms & Privacy</a>.
    </p>

    <div class="clearfix">
      <button type="submit" class="signupbtn" value="register">Sign
        Up</button>
    </div>
  </div>

