
<body>
  <h3>Place your order</h3>

  <button class="uppersButton" (click)="showTable1()">Uppers - Click to open</button>

  <table *ngIf="table1">
    <tr>
      <th>Clothing Item</th>
      <th>Clothing Quantity</th>
      <th>Price Per/Article</th>
    </tr>
    <tr>

    </tr>
    <tr>
      <td>T-Shirt(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input (click)="decrementTshirtCount()" type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="{{getTshirtCount()}}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input  (click)="incrementTshirtCount()" type="button" value="+" class="plus">
        </div>
      </td>
      <td>${{getTshirtPrice()}}.00</td>
    </tr>
    <tr>
      <td>Long Sleeve T-Shirt(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$5</td>
    </tr>
    <tr>
      <td>Tank Top(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$10</td>
    </tr>
    <tr>
      <td>Button Down(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$0</td>
    </tr>
    <tr>
      <td>Sweaters(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$0</td>
    </tr>
  </table>


  <button class="lowersButton" (click)="showTable2()">Lowers - Click to open</button>


  <table *ngIf="table2">
    <tr>
      <th>Clothing Item</th>
      <th>Clothing Quantity</th>
      <th>Price Per/Article</th>
    </tr>
    <tr>

    </tr>
    <tr>
      <td>Shorts</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$0</td>
    </tr>
    <tr>
      <td>Pants (Not Jeans)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$5</td>
    </tr>
    <tr>
      <td>Jeans</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$10</td>
    </tr>
    <tr>
      <td>Under Garments</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$0</td>
    </tr>
    <tr>
      <td>Socks</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$0</td>
    </tr>
  </table>


  <button class="othersButton" (click)="showTable3()">Others - Click to open</button>

  <table *ngIf="table3">
    <tr>
      <th>Clothing Item</th>
      <th>Clothing Quantity</th>
      <th>Price Per/Article</th>
    </tr>
    <tr>

    </tr>
    <tr>
      <td>Comforter(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$0</td>
    </tr>
    <tr>
      <td>Blanket(s) / Sheet(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$5</td>
    </tr>
    <tr>
      <td>Pillow Case(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$10</td>
    </tr>
    <tr>
      <td>Table Cloth(s)</td>
      <td class="quanityOfClothes">
        <div class="quantity buttons_added">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="0" max="" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
          <input type="button" value="+" class="plus">
        </div>
      </td>
      <td>$0</td>
    </tr>
  </table>


</body>

