
.TableAndCart {

  width: 100%;
  height: auto;



}

.Tabbble {

  float: left;
  width: 50%;

}

.clothingButtons {

  text-align: center;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0 0 0 0;
  height: auto;


}

.uppersButton {

  display: inline;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border-bottom: none;
  color: white;
  font-size: 15px;
  width: 33%;
}

.lowersButton {
  display: inline;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border-bottom: none;
  color: white;
  font-size: 15px;
  width: 33%;



}

.othersButton {

  display: inline;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border-bottom: none;
  color: white;
  font-size: 15px;
  width: 33%;

}



/*Clothing Table*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin: 0 0 40px 0;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
  width: 33.3%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.quanityOfClothes {
  text-align: center;
}

/* -- quantity box -- */

.quantity {
  display: inline-block; }

.quantity .input-text.qty {
  width: 15px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #efefef;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor:pointer;}

.quantity.buttons_added .minus {
  border-right: 0; }

.quantity.buttons_added .plus {
  border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none; }

