<div class="row">
  <div class="column">
    <h1>Want to become a washer?</h1>
    <h3>Follow these steps to be a Suds washer and earn money today!</h3>
    <div>
      <p>Register with Suds</p>
      <p>Fill out our 'Become a Sud' form</p>
      <p>You will receive an email confirming your application</p>
      <p>Our team will do a background check</p>
      <p>Finally, we will contact you to let you know if you have been accepted</p>
      <p>Washer privileges will be added to your account!</p>
    </div>
    <div>
      <button routerLink="/emaillog">Register Page</button>
    </div>
  </div>
</div>
