<body>
<h1 class="header">Profile Page</h1>
<!--Question mark is so program wont error if user doesnt have a username-->
<h3> User Name: {{user?.displayName}}</h3>
<h3> User Email: {{user?.email}}</h3>

<div class="ratingSystem">

  <app-rating></app-rating>

</div>
<div class="container">
  <a *ngIf="user" href="/washer">Become A Washer Today!</a>
  <button (click)="logout()" type="button" class="profileLogoutButton">Logout</button>
</div>
<!--<div class="row">-->
<!--  <div class="col-md-4 col-md-offset-4">-->
<!--    <div class="card" style="width: 20rem;">-->
<!--      <div *ngIf='user.provider != "password"'class="card-body">-->
<!--        <h4 class="card-title">{{user.name}}</h4>-->
<!--      </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-md-4 col-md-offset-4">-->
<!--    <div class="card" style="width: 20re m;">-->
<!--      <div *ngIf='user.provider != "password"'class="card-body">-->
<!--        <h4 class="card-title">{{user.name}}</h4>-->
<!--        <p class="card-text">This is an example of Social Authentication using Firebase in an Angular 7 web app. </p>-->
<!--      </div>-->
<!--      <div *ngIf='user.provider == "password"'class="card-body">-->
<!--        <form [formGroup]="profileForm">-->
<!--          <div class="form-group">-->
<!--            <label>Your name</label>-->
<!--            <input type="text" formControlName="name" class="form-control" required>-->
<!--          </div>-->
<!--        </form>-->
<!--        <a (click)="save(profileForm.value)" class="btn btn-primary">Save</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



</body>
