<body>


<div class="row">
  <div class="column main">
    <h1 class="header">Profile Page</h1>

        <div *ngFor="let userimage of userInfo">
          <div *ngIf="userimage.payload.doc.data().imageURL != null">
            <img src="{{userimage.payload.doc.data().imageURL}}" height="130 px" width="130 px">
          </div>
          <div *ngIf="userimage.payload.doc.data().imageURL == null">
            <img src="{{defaultProfile}}" height="130 px" width="130 px">
          </div>
        </div>
        <!--Question mark is so program wont error if user doesnt have a username-->
        <div *ngIf="user?.displayName != null">
          <h3> Name: {{user?.displayName}}</h3>
        </div>
        <div *ngIf="user?.displayName == null">
          <div *ngFor="let userstuff of userInfo">
            <h3> Name: {{userstuff.payload.doc.data().fname}} {{userstuff.payload.doc.data().lname}}</h3>
          </div>
        </div>
        <h3> User Email: {{user?.email}}</h3>

        <h3>Your rating: </h3>
        <app-rating></app-rating>

        <br><br><br>

        <h4>Download an avatar!</h4>
        <app-image-upload></app-image-upload>

  </div>
  <div class="column side">
      <div class="container">
        <h3>User Links:</h3>
        <br>
        <a *ngIf="user" href="/washer">Become A Washer Today!</a>
        <br>
        <a *ngIf="user" href="/user">Fill out your User information!</a>
        <br><br>
        <button (click)="logout()" type="button" class="profileLogoutButton">Logout</button>
        <br>
        <br>
        <div *ngFor="let userimage of userInfo">
          <div *ngIf="userimage.payload.doc.data().userType != null && userimage.payload.doc.data().userType == 'washer'">
            <h3>Washer Links:</h3>
            <br>
            <div>
              <p>Are you avaiable?</p>
              <label class="switch">
                <input type="checkbox" on-change="availability()">
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>



      </div>
  </div>
</div>

</body>
