<body>

<h1 style="margin: 10px">Pick a Washer</h1>

    <div class="card" *ngFor="let item of items">
      <div class="washerImage">
        <div *ngIf="item.payload.doc.data().imageURL != null">
          <img src="{{item.payload.doc.data().imageURL}}" height="130 px" width="auto" border-radius="50%">
        </div>
        <div *ngIf="item.payload.doc.data().imageURL == null">
          <img src="{{defaultProfile}}" height="130 px" width="auto" border-radius="50%">
        </div>
      </div>
      <h3>{{capitalizeFirstLetter(item.payload.doc.data().fname)}} {{capitalizeFirstLetter(item.payload.doc.data().lname)}}</h3>
      <p>Distance = 3 miles away</p>
      <button>Select Me!</button>

      <div class="middle">
        <div class="text">You Picked {{capitalizeFirstLetter(item.payload.doc.data().fname)}}</div>
      </div>

    </div>


<app-clothing-quantities [washerIdchild]="message"></app-clothing-quantities>

</body>




