
<app-google-map></app-google-map>

<div class="row">
  <div class="column">
  <h1>Pick a Washer</h1>

    <form class="create-form" [formGroup]="pickWasher" novalidate (ngSubmit)="onSubmit(pickWasher.value)">
      <div *ngFor="let item of items">


          <h3>{{capitalizeFirstLetter(item.payload.doc.data().fname)}} {{capitalizeFirstLetter(item.payload.doc.data().lname)}}</h3>

          <h4 class="tab">Zipcode: {{item.payload.doc.data().zipcode}}</h4>


          <h4 class="tab">Age: {{item.payload.doc.data().age}}</h4>

        <mat-label class="tab">Pick Me!</mat-label>
        <input type="radio" class="radioInput" name="washerId" value="{{item.payload.doc.id}}">

        </div>
      <button class="signupbtn" color="primary" type="submit" [disabled]="!pickWasher.valid">Submit</button>
    </form>



  </div>
</div>


<app-clothing-quantities [washerIdchild]="message"></app-clothing-quantities>






