@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
body {
/* background-image: url("images/WoodBackground copy.jpg"); */

background-color: #fbfbfb;

}


.mainSlogan {

  margin-top:35px;
  margin-bottom:0px;
  padding: 0px;
  font-size: 25px;
  font-family: inherit;
  text-align: center;


}

/*Dont not delete*/

* {
  box-sizing: border-box;
}

.row {
margin-top: 0px;

}

.column {
  float: left;
  width: 50%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.mainImageOne {

  width: 100%;
  padding: 0px;
  height: 400px;
  margin: 0px;


}

.mainImageTwo {

  width: 100%;
  padding: 0px;
  height: 400px;



}

.mainSudsMap {
  background-color: #333333;

}

.SudsMap {

  width: 100%;
  height: auto;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 60px;
  margin: 0px;


}

.SudsMapHeader {

  color: #6bdff0;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;

}





@media screen and (max-width: 825px) {
.column {
  float: none;
  width: 100%;
  margin-bottom: 20px;
}


}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.pic {
	width:100%;
	height:100%;
  margin: 0px;
}

.picTwo {
	width:100%;
	height:100%;
  margin: 0px;
}



.NeedASud {

    height: auto;
    min-height: 56px;
    font-size: 20px;
    letter-spacing: 2px;
    width: 100%;
    color: white;
    background-color: #6bdff0;
    font-family: "Times New Roman", Times, serif;


}

.NeedASud:hover {
	opacity: 0.8;

}

.BeASud {

  height: auto;
  min-height: 56px;
  font-size: 20px;
  letter-spacing: 2px;
  width: 100%;
  background-color: #6bdff0;
  color: white;
  font-family: "Times New Roman", Times, serif;


}

.BeASud:hover {
	opacity: 0.8;

}



.newsLetter {

position: relative;
border: 2px solid #6bdff0;
text-align: center;
margin-bottom: 300px;
margin-top: 50px;
margin-right: 10px;
margin-left: 10px;
padding: 0px;

}



@media screen and (max-width: 950px) {
.newsLetter {

margin-bottom: 300px;
padding: 0px;

}
}

@media screen and (max-width: 500px) {
.newsLetter {

margin-bottom: 400px;
padding: 0px;

}
}

@media screen and (max-width: 400px) {
.newsLetter {

margin-bottom: 500px;
padding: 0px;

}
}



input[type=text], input[type=submit] {
  width: 300px;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #FF8300;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #FF8300;
  color: black;
  font-size: 15px;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.20em;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.features {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
  margin-top: -30px;


}


.featuresHeader {
	padding-top: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: center;
	color: black;
	font-family: inherit;
	font-size: 35px;
	text-shadow: 1px 1px black;
	letter-spacing: 0.10em;

}

.featuresHeaderTwo {

	text-align: center;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color:#6bdff0; 
	text-shadow: 1px 1px black; 
	font-family: inherit;
	font-size: 25px;
	letter-spacing: 0.10em;


}

.headerFive {

margin: 0px;
font-size: 20px;




}

.featureDiv {

height: 120px;

}




/* Create two equal columns that floats next to each other */
.featuresColumnOne {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 60px; 
  
  
}

/* Create two equal columns that floats next to each other */
.featuresColumnTwo {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-right: 0px; 
  padding-left: 60px; 
  
  
}





@media screen and (max-width: 920px) {

/* Create two equal columns that floats next to each other */
.featuresColumnOne {
  
 	padding-left: 10px; 
  
  
}

/* Create two equal columns that floats next to each other */
.featuresColumnTwo {
  
	padding-left: 0px; 
  
}



}

@media screen and (max-width: 825px) {

/* Create two equal columns that floats next to each other */
.featuresColumnOne {
  float: left;
  width: 100%;
  padding-left: 20px; 
 
  
  
}

/* Create two equal columns that floats next to each other */
.featuresColumnTwo {
  float: left;
  width: 100%;
  padding-left: 20px; 

  
}


}

/* Clear floats after the columns */
.featuresRow:after {
  content: "";
  display: table;
  clear: both;
}

.points {

margin-top: 5px;
padding: 0px;
text-align: left;


}

.userHeader {

color:#6bdff0; 
font-size: 20px;
text-shadow: 1px 1px black; 
text-align: left;
letter-spacing: 0.10em;

}

.washerHeader {

  color:#6bdff0;
font-size: 20px;
text-shadow: 1px 1px black;
text-align: left;
letter-spacing: 0.10em;

}

.icons {

float: left;
margin-top: 10px;


}

.helloWorld {

float: left;
width: 350px;
margin-left: 10px;


}



/* Create two equal columns that floats next to each other */
.headerOne {
  float: left;
  text-align: center;
  width: 45%;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Create two equal columns that floats next to each other */
.headerTwo {
  float: left;
  text-align: left;
  padding-left: 10px;
  margin-top: 55px;
  width: 55%;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 825px) {
  .headerOne {
   	display: none;
  }
  .headerTwo {
    width: 100%;
    text-align: center;
    height: 270px;
  }
  
  ul {

	text-align: left;
	display: inline-block;

	}
}

.mainHeaderSlogan {

font-size: 35px; 
text-transform: uppercase; 
color:#6bdff0; 
text-shadow: 1px 1px gray;
margin-top: 10px;
margin-left: 22px;


}

.headerMessage {

width: 100%;
background-color: #333333;
margin-top: -20px;
height: auto;


}

.headerM {

font-size: 20px;
padding-top: 10px;
padding-bottom: 5px;
text-align: center;
color: white;


}

.secondM {

font-size: 20px;
color: #6bdff0;
float: none;
text-decoration: none;



}

.registerDiv {
text-align:center;
padding-bottom: 20px;

}

.TrustandSafteyRow {
  margin-top: -190px;

}


.TrustandSafteyColumn {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}

/* Clearfix (clear floats) */
.TrustandSafteyRow::after {
  content: "";
  clear: both;
  display: table;
}

.TrustHeaders {

text-align: center;
font-type: bolder;
font-weight: 900;
font-size: 25px;

}

.TrustSentence {

  padding-right: 50px;
  padding-left: 50px;
  color: gray;

}

.SafteyImage {

  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  padding: 35px;
  height: 245px;
  width: 240px;

}

.TrustIsKey {

  text-align: center;
  
}

.TrustMe {
  color: white;
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
  padding-top: 25px;

}

.TrustMeSmall {

  color: white;
  font-size: 20px;
  margin: 0px;
  padding: 0px;

}

.backDrop {

  background-color: #6bdff0;
  height: 300px;
  width: 100%;
  

}


