<div class="mainSlogan">

  <h3 class="mainHeaderSlogan">Let suds do the washing </h3>

</div>


<div class="row">

  <div class="column">

    <div class="pic">
      <img src="assets/images/cleanLaundry.jpg" alt="Clean Laundry" style="width:100%; height: 400px">
    </div>

    <div align="center">
      <a routerLink="/order" class="NeedASud">Fuck You</a>
    </div>


  </div>


  <div class="column">
    <div class="picTwo">
      <img src="assets/images/cleanLaundry.jpg" alt="Clean Laundry" style="width:100%; height: 400px">

    </div>

    <div align="center">
      <a routerLink="/washer" class="BeASud">Be A Sud</a>
    </div>

  </div>

</div>



<div class="features">


  <h2 class="featuresHeader">Features</h2>
  <h2 class="featuresHeaderTwo">See what Suds has to offer</h2>


  <div class="featuresRow">

    <div class="featuresColumnOne">

      <h3 class="userHeader">User</h3>

      <div class="featureDiv">
        <div class="icons">
          <span class="spanClass"><i class='far fa-money-bill-alt' style="font-size:36px; padding: 0px;"></i></span>
          <span class="spanClass" id="spanClass">Why pay more for laundry</span>
        </div>
        <p class="points">Sud’s has scoped out the best appliances in the area so you get the care you deserve.</p>
      </div>

      <div class="featureDiv">
        <div class="icons">
          <i class='far fa-clock' style='font-size:36px'></i>
          <h5 class="headerFive">Quick Turnaround</h5>
        </div>
        <p class="points">Locally sourced laundry offers a faster timeline, versus shipping to a warehouse.</p>
      </div>

      <div class="featureDiv">
        <div class="icons">
          <i class='far fa-thumbs-up' style='font-size:36px'></i>
          <h5 class="headerFive">Approved and Choose</h5>
        </div>
        <p class="points">Sud’s washers go through an extensive verification process and you choose your Sud’s washer.</p>
      </div>

    </div>

    <div class="featuresColumnTwo">

      <h3 class="washerHeader">Washer</h3>

      <div class="featureDiv">
        <div class="icons">
          <i class='fas fa-home' style='font-size:36px'></i>
          <h5 class="headerFive">Earn money in the comfort of your home</h5>
        </div>
        <p class="points">Have the luxury to stay at home with your family, or even work another remote job, as well.</p>
      </div>

      <div class="featureDiv">
        <div class="icons">
          <i class='far fa-calendar-alt' style='font-size:36px'></i>
          <h5 class="headerFive">Pick your schedule</h5>
        </div>
        <p class="points">You get to decide on when and how long you work.</p>
      </div>

      <div class="featureDiv">
        <div class="icons">
          <i class='fas fa-users' style='font-size:36px'></i>
          <h5 class="headerFive">Build a customer base</h5>
        </div>
        <p class="points">You’ll get to create a consistent workflow.</p>
      </div>

    </div>


  </div>


</div>


<div class="header">

  <div class="headerOne">
    <img style="width: 325px; height: 325px;" src="assets/images/sudslogostraight.png" alt="Suds Logo"/>
  </div>

  <div class="headerTwo">
    <ul class="unorderedList" style="list-style-type:square;">
      <li style=" margin-bottom: 30px;">Join Suds to recieve exclusive deals on the service to come.</li>
      <li style=" margin-bottom: 30px;">Apply to become a washer to see if your eligble to become a Sud.</li>
      <li style=" margin-bottom: 30px;">Subscibe to our news letter to get the latest updates. </li>
    </ul>
  </div>


</div>


<div class="newsLetter">

<div class="container">
  <app-news-letter></app-news-letter>
</div>



</div>



