
<html>

<div class="headerMessage">

<p class="headerM">Join the waitlist to be one of the first Suds!</p>
<div class="registerDiv">
<a class="secondM" href="/user">Register Now --></a>
</div>



</div>

<div class="mainSlogan">

<h3 class="mainHeaderSlogan">Let suds do the washing </h3>

</div>


<div class="row">

  <div class="column" href="/user">
  	  <img src="assets/images/no time to wash.jpg" alt="Clean Laundry" class="mainImageOne">
       <a class="NeedASud" href="/user">No time to wash?</a>
       <div class="overlay">
         <div class="text">Need A Sud</div>
       </div>
	</div>


  
   
  <div class="column">

  	  <img src="assets/images/looking for opportunities.jpg" alt="Clean Laundry" class="mainImageOne">
      <a class="NeedASud" href="/washer">Looking for opportunities?</a>
      <div class="overlay">
        <div class="text">Be A Sud</div>
      </div>

	</div>
  
 </div>
 
 
 
<div class="features">


<h2 class="featuresHeader">Features</h2>


<div class="featuresRow">

  <div class="featuresColumnOne">
  
  <h3 class="userHeader">User</h3>
  
  <div class="featureDiv">
  <div class="icons">
  <i style='font-size:30px' class='far'>&#xf3d1;</i>
  </div>
  <div class="helloWorld">
  <h5 class="headerFive">Why pay more for laundry?</h5>
  <p class="points">Sud’s has scoped out the best appliances in the area so you get the care you deserve.</p>
  </div>
  </div>
  
  <div class="featureDiv">
  <div class="icons">
  <i class='far fa-clock' style='font-size:36px'></i>
  </div>
  <div class="helloWorld">
  <h5 class="headerFive">Quick Turnaround</h5>
  <p class="points">Locally sourced laundry offers a faster timeline, versus shipping to a warehouse.</p>
  </div>
  </div>
  
  <div class="featureDiv">
  <div class="icons">
  <i class='far fa-thumbs-up' style='font-size:36px'></i>
  </div>
   <div class="helloWorld">
  <h5 class="headerFive">Approved and Choose</h5>
  <p class="points">Sud’s washers go through an extensive verification process and you choose your Sud’s washer.</p>
  </div>
  </div>
  
  </div>

 <div class="featuresColumnTwo">
 
  <h3 class="washerHeader">Washer</h3>
 
  <div class="featureDiv">
  <div class="icons">
  <i class='fas fa-home' style='font-size:36px'></i>
  </div>
  <div class="helloWorld">
  <h5 class="headerFive">Earn money in the comfort of your home</h5>
  <p class="points">Have the luxury to stay at home with your family, or even work another remote job, as well.</p>
  </div>
  </div>
  
  <div class="featureDiv">
  <div class="icons">
  <i class='far fa-calendar-alt' style='font-size:36px'></i>
  </div>
   <div class="helloWorld">
   <h5 class="headerFive">Pick your schedule</h5>
  <p class="points">You get to decide on when and how long you work.</p>
  </div>
  </div>
  
  <div class="featureDiv">
  <div class="icons">
  <i class='fas fa-users' style='font-size:36px'></i>
  </div>
  <div class="helloWorld">
  <h5 class="headerFive">Build a customer base</h5>
  <p class="points">You’ll get to create a consistent workflow.</p>
  </div>
  </div>
    
  </div>
  
 
</div>


</div>


<!--<div class="mainSudsMap">-->

  <p class="SudsMapHeader">Suds on the map</p>

  <img src="assets/images/mapSuds.jpg" alt="Suds Map" class="SudsMap">


<!--</div>-->

<div class="backDrop">

  <div class="TrustIsKey">
    <p class="TrustMe">Trust and Safety</p>
    <p class="TrustMeSmall">Everything you need to choose the right Suds washer for you.</p>

  </div>


  <div class="TrustandSafteyColumn">
    <img src="assets/images/ratings and reviews.jpg" alt="Snow" class="SafteyImage">
      <p class="TrustHeaders">Ratings and Reviews</p>
  	  <p class="TrustSentence">View Suds washers Ratings and Reviews to pick the Suds that work for you.</p>
  </div>
  <div class="TrustandSafteyColumn">
    <img src="assets/images/detailed background check.jpg" alt="Forest" class="SafteyImage">
      <p class="TrustHeaders">Detailed Background Checks</p>
 	  <p class="TrustSentence">We perform comprehensive background screenings so your clothes are in safe hands.</p>
  </div>
  <div class="TrustandSafteyColumn">
    <img src="assets/images/qualified equpiment verifed.jpg" alt="Mountains" class="SafteyImage">
      <p class="TrustHeaders">Qualified Equipment Verified</p>
  	  <p class="TrustSentence">We conduct equipment checks to make sure Suds washers are using high quality washers and dryers.</p>
  </div>

</div>


<div class="newsLetter">



  <div class="container">
    <app-news-letter></app-news-letter>
  </div>





</div>

<div class="RegisterToday">

  <p class="RegisterTodayHeader">Register Today</p>


  <div class="RegisterTodaybtn-group">
    <button>No time to wash?</button>
    <button>Become a Sud</button>
  </div>


</div>


</html>

