@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
html {

  height:100%;
  position:relative;
  overflow-x:hidden;
  overflow-y:hidden;

}

.mainSlogan {

  margin-top:35px;
  margin-bottom:0px;
  padding: 0px;
  font-size: 25px;
  font-family: inherit;
  text-align: center;


}

/*Dont not delete*/

* {
  box-sizing: border-box;
}

.row {
margin-top: 0px;
  width: 100%;

}

.column {
  float: left;
  width: 50%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.mainImageOne {

  width: 100%;
  padding: 0px;
  height: 400px;
  margin: 0px;


}


.mainSudsMap {
  background-color: #333333;

}

.SudsMap {

  width: 80%;
  height: auto;
  margin: 1% 0 5% 10%;
  box-shadow:  0 0 11px  #333333;;
  -moz-box-shadow: 0 0 11px  #333333;;
  -webkit-box-shadow: 0 0 11px  #333333;;
  -o-box-shadow: 0 0 11px  #333333;;


}

.SudsMapHeader {

  color: black;
  font-family: inherit;
  text-align: center;
  font-size: 35px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 0px;

}

.column {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6bdff0;
}

.column:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





@media screen and (max-width: 825px) {
.column {
  float: none;
  width: 100%;
  margin-bottom: 20px;
}


}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}



.NeedASud {

    height: auto;
    min-height: 56px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    margin: 0 0 -2% 10%;
    width: 80%;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    border: 1px solid black;
    background-color: #6bdff0;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 10px;


}

.NeedASud:hover {
  font-size: 21px;
  padding: 14px;

}


input[type=submit] {
  background-color: #FF8300;
  color: black;
  font-size: 15px;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.20em;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.features {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
  margin-top: -35px;


}


.featuresHeader {
	padding-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: center;
	color: black;
  font-family: inherit;
  font-size: 35px;
	text-shadow: 1px 1px gray;

}

.featuresHeaderTwo {

	text-align: center;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color:#6bdff0; 
	text-shadow: 1px 1px black; 
	font-family: inherit;
	font-size: 25px;
	letter-spacing: 0.10em;


}

.headerFive {

margin: 0px;
font-size: 20px;




}

.featureDiv {

height: 120px;

}




/* Create two equal columns that floats next to each other */
.featuresColumnOne {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 60px;
  
  
}

/* Create two equal columns that floats next to each other */
.featuresColumnTwo {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 60px;
  
  
}





@media screen and (max-width: 920px) {

/* Create two equal columns that floats next to each other */
.featuresColumnOne {
  
 	padding-left: 10px; 
  
  
}

/* Create two equal columns that floats next to each other */
.featuresColumnTwo {
  
	padding-left: 0px; 
  
}



}

@media screen and (max-width: 825px) {

/* Create two equal columns that floats next to each other */
.featuresColumnOne {
  float: left;
  width: 100%;
  padding-left: 20px; 
 
  
  
}

/* Create two equal columns that floats next to each other */
.featuresColumnTwo {
  float: left;
  width: 100%;
  padding-left: 20px; 

  
}


}

/* Clear floats after the columns */
.featuresRow:after {
  content: "";
  display: table;
  clear: both;
}

.points {

margin-top: 5px;
padding: 0px;
text-align: left;


}

.userHeader {

color:#6bdff0; 
font-size: 20px;
text-shadow: 1px 1px black; 
text-align: left;
letter-spacing: 0.10em;

}

.washerHeader {

  color:#6bdff0;
font-size: 20px;
text-shadow: 1px 1px black;
text-align: left;
letter-spacing: 0.10em;

}

.icons {

float: left;
margin-top: 10px;


}

.helloWorld {

float: left;
width: 350px;
margin-left: 10px;


}



/* Create two equal columns that floats next to each other */
.headerOne {
  float: left;
  text-align: center;
  width: 45%;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Create two equal columns that floats next to each other */
.headerTwo {
  float: left;
  text-align: left;
  padding-left: 10px;
  margin-top: 55px;
  width: 55%;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 825px) {
  .headerOne {
   	display: none;
  }
  .headerTwo {
    width: 100%;
    text-align: center;
    height: 270px;
  }
  
  ul {

	text-align: left;
	display: inline-block;

	}
}

.mainHeaderSlogan {

font-size: 35px; 
text-transform: uppercase; 
color:#6bdff0; 
text-shadow: 1px 1px gray;
margin-top: 10px;
margin-left: 22px;


}

.headerMessage {

width: 100%;
background-color: #333333;
margin-top: -20px;
height: auto;


}

.headerM {

font-size: 20px;
padding-top: 15px;
padding-bottom: 2px;
text-align: center;
color: white;


}

.secondM {

font-size: 20px;
color: #6bdff0;
float: none;
text-decoration: none;



}

.registerDiv {
text-align:center;
padding-bottom: 20px;

}

.backDrop {

  background-color: #6bdff0;
  height: 250px;
  width: 100%;
  margin: 0px;
  padding: 0px;


}


.TrustandSafteyColumn {
  float: left;
  width: 33.3%;
  padding: 5px;
  text-align: center;
}

.TrustSentence {

  padding-right: 50px;
  padding-left: 50px;
  color: gray;

}


@media screen and (max-width: 1030px) {

  .TrustandSafteyColumn {
    float: none;
    width: 100%;
    padding: 5px;
    text-align: center;
  }


  .backDrop {

    background-color: #6bdff0;
    height: 1150px;
    width: 100%;
    margin: 0px;
    padding: 0px;


  }


  .TrustSentence {

    color: white;

  }



}

.TrustHeaders {

text-align: center;
font-type: bolder;
font-weight: 900;
font-size: 25px;

}


.SafteyImage {

  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  padding: 40px;
  height: 200px;
  width: 210px;

}

.TrustIsKey {

  text-align: center;
  padding-bottom: 20px;
  
}

.TrustMe {
  color: white;
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
  padding-top: 25px;

}

.TrustMeSmall {

  color: white;
  font-size: 20px;
  margin: 0px;
  padding: 0px;

}



.newsLetter {

  height: 200px;

  border: 2px solid #6bdff0;
  background-color: #333333;
  margin-top: 250px;
  margin-bottom: -30px;
  padding: 0px;
  width: 100%;


}

@media screen and (max-width: 1030px) {

  .newsLetter {

    height: 300px;
    text-align: center;
    margin-top: 0px;


  }


}




.RegisterToday {

  width: 100%;
  height: 200px;
  background-color: #6bdff0;
  margin-top: 0px;
  margin-bottom: -10px;
  padding: 0px;
  text-align: center;


}

.RegisterTodayHeader {

  padding-top: 25px;
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: 900;


}

.RegisterTodaybtn-group button {

  background-color: white;
  color: #6bdff0;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 10px;
  margin: 5px 10px 0 0;



}


