@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
html {

  height:100%;
  position:relative;
  overflow-x:hidden;
  overflow-y:hidden;
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
  max-width: 100%;

}

body {


  margin: 0px;
  padding: 0px;
  max-width: 100%;



}

.mainSlogan {

  margin-top:35px;
  margin-bottom:0px;
  padding: 0px;
  font-size: 25px;
  font-family: inherit;
  text-align: center;


}

/*Dont not delete*/

* {
  box-sizing: border-box;
}

.row {
margin-top: 0px;
  width: 100%;

}

.column {
  float: left;
  width: 50%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.mainImageOne {

  width: 100%;
  padding: 0px;
  height: 400px;
  margin: 0px;


}


.mainSudsMap {
  background-color: #333333;

}

.SudsMap {

  width: 80%;
  height: auto;
  margin: 1% 0 5% 10%;
  box-shadow:  0 0 11px  #333333;;
  -moz-box-shadow: 0 0 11px  #333333;;
  -webkit-box-shadow: 0 0 11px  #333333;;
  -o-box-shadow: 0 0 11px  #333333;;


}

.SudsMapHeader {

  color:#6bdff0;
  text-shadow: 1px 1px gray;
  font-family: inherit;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;

}

.column {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6bdff0;
}

.column:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





@media screen and (max-width: 825px) {
.column {
  float: none;
  width: 100%;
  margin-bottom: 20px;
}


}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}



.NeedASud {

    height: auto;
    min-height: 56px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    margin: 0 0 -2% 10%;
    width: 80%;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    border: 2px solid black;
    background-color: #6bdff0;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 10px;


}

.NeedASud:hover {
  font-size: 21px;
  padding: 14px;

}


input[type=submit] {
  background-color: #FF8300;
  color: black;
  font-size: 15px;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.20em;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.features {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
  margin-top: -35px;


}


.featuresHeader {
	padding-top: 70px;
	margin-bottom: 0px;
	padding-bottom: 40px;
	text-align: center;
  color:#6bdff0;
  text-shadow: 1px 1px gray;
  font-family: inherit;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15em;

}

/* Create two equal columns that floats next to each other */
.featuresColumnOne {
  float: left;
  width: 50%;
  text-align: center;
  
  
}

/* Create two equal columns that floats next to each other */
.featuresColumnTwo {
  float: left;
  width: 50%;
  text-align: center;

  
  
}




@media screen and (max-width: 825px) {

/* Create two equal columns that floats next to each other */
.featuresColumnOne {
  float: left;
  width: 100%;
  padding-left: 20px; 
 
  
  
}

/* Create two equal columns that floats next to each other */
.featuresColumnTwo {
  float: left;
  width: 100%;
  padding-left: 20px; 

  
}


}

/* Clear floats after the columns */
.featuresRow:after {
  content: "";
  display: table;
  clear: both;
}



.featureDiv {

  height: 150px;

}





.headerFive {

  margin: 0px;
  font-size: 20px;


}

.points {

margin-top: 5px;
  padding-right:100px;
  padding-left: 100px;
text-align: center;


}

.icons {

margin-top: 10px;
  margin-bottom: 10px;


}

.helloWorld {
margin-left: 10px;


}

.mainHeaderSlogan {

font-size: 35px; 
text-transform: uppercase; 
color:#6bdff0; 
text-shadow: 1px 1px gray;
margin-top: 10px;
margin-left: 22px;


}

.headerMessage {

width: 100%;
background-color: #333333;
margin-top: -20px;
height: auto;


}

.headerM {

font-size: 20px;
padding-top: 15px;
padding-bottom: 2px;
text-align: center;
color: white;


}

.secondM {

font-size: 20px;
color: #6bdff0;
float: none;
text-decoration: none;



}

.registerDiv {
text-align:center;
padding-bottom: 20px;

}

.backDrop {

  background-color: #6bdff0;
  height: 250px;
  width: 100%;
  margin: 0px;
  padding: 0px;


}


.TrustandSafteyColumn {
  float: left;
  width: 33.3%;
  padding: 5px;
  text-align: center;
}

.TrustSentence {

  padding-right: 50px;
  padding-left: 50px;
  color: gray;

}


@media screen and (max-width: 1030px) {

  .TrustandSafteyColumn {
    float: none;
    width: 100%;
    padding: 5px;
    text-align: center;
  }


  .backDrop {

    background-color: #6bdff0;
    height: 1150px;
    width: 100%;
    margin: 0px;
    padding: 0px;


  }


  .TrustSentence {

    color: white;

  }



}

.TrustHeaders {

text-align: center;
font-type: bolder;
font-weight: 900;
font-size: 25px;

}


.SafteyImage {

  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  padding: 40px;
  height: 200px;
  width: 210px;

}

.TrustIsKey {

  text-align: center;
  padding-bottom: 20px;
  
}

.TrustMe {
  color: white;
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
  padding-top: 25px;

}

.TrustMeSmall {

  color: white;
  font-size: 20px;
  margin: 0px;
  padding: 0px;

}



.newsLetter {

  height: 220px;

  border: 2px solid #6bdff0;
  background-color: #333333;
  margin-top: 250px;
  margin-bottom: -35px;
  padding: 0px;
  width: 100%;


}

@media screen and (max-width: 1030px) {

  .newsLetter {

    height: 300px;
    text-align: center;
    margin-top: 0px;


  }


}




.RegisterToday {

  width: 100%;
  height: 220px;
  background-color: #6bdff0;
  margin: 0px;
  padding: 0px;
  text-align: center;


}

.RegisterTodayHeader {

  padding-top: 25px;
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: 900;


}

.RegisterTodaybtn-group button {

  background-color: white;
  color: #6bdff0;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 10px;
  margin: 5px 10px 0 0;



}


