<h1 class="mapHeader">Find Suds Washers Near You!</h1>

<div class="googleMap">

<agm-map [zoom]="10" [latitude]="lat" [longitude]="lng">

  <agm-marker [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'" [latitude]="lat" [longitude]="lng">

<!--Radius is in kilometers-->

  <agm-circle [latitude]="lat" [longitude]="lng"

              [radius]="6000"
              [fillColor]="'blue'"
              [circleDraggable]="false"
              [editable]="false">
  </agm-circle>

  <agm-info-window [isOpen]="true">

    <h3>You are here!</h3>

  </agm-info-window>

  </agm-marker>

  <div *ngFor="let location of locations">

    <agm-marker *ngIf="(location.payload.doc.data().latitude != lat && location.payload.doc.data().longitude != lng)"
                [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                latitude="{{location.payload.doc.data().latitude}}" longitude="{{location.payload.doc.data().longitude}}">

      <agm-info-window >
        <h3>{{location.payload.doc.data().fname}} {{location.payload.doc.data().lname}}</h3>
      </agm-info-window>

    </agm-marker>

  </div>




</agm-map>

</div>
